 body {
    font-family: Arial, sans-serif;
}
#container {
    display: flex;
}
#input {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ccc;
}
#output {
    flex: 1;
    padding: 10px;
}
textarea {
    width: 100%;
    height: 90vh;
}
iframe {
    width: 100%;
    height: 90vh;
    border: none;
}